.team-card-container {
    width: 300px;
    margin: 20px auto;
    border: 2px solid #a85bff;
    transition: .3s ease;
    position: relative;
    border-radius: 10px;
    z-index: 5;
    overflow: hidden;
}

.team-img, .team-name-container, .team-role-container, .team-social-link-container {
    position: relative;
    z-index: 5;
}

.team-img {
    display: block;
    height: 100%;
}

.team-card-container:hover {
    cursor: pointer;
}

.team-name-container {
    font-size: 1.3rem;
    font-weight: 700;
    font-weight: bold;
    text-align: center;
}

.team-role-container {
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
}

.team-social-link-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}

.team-card-container::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    top: -275px;
    left: -275px;
    background-color: #a85bff;
    border-radius: 50%;
    z-index: 1;
    transition: .3s ease-in-out;
}

.team-card-container:hover.team-card-container::before {
    top: 0;
    left: 0;
    scale: 2;
}